
<ion-modal-view class="product-details">

	<ion-header-bar align-title="center" class="bar bar-header bar-rad">
		<div class="buttons">
			
			<button ng-if="!productDetails.is_bookmarked" class="button" ng-click="toggleBookmarkProduct(productDetails.sys_index)"><i class="ion ion-ios-star-outline"></i></button>
		
			<button ng-if="productDetails.is_bookmarked" class="button" ng-click="toggleBookmarkProduct(productDetails.sys_index)"><i class="ion ion-ios-star"></i></button>
		</div>
		<div class="title">
			<img src="img/rad.png" style="height:20px;filter: invert(100%);-webkit-filter: invert(1);margin-top:15px;">
		</div>
		<div class="buttons">
			<button class="button" ng-click="masterCtrl.closeModal()"><i class="ion ion-close"></i></button>
		</div>
	</ion-header-bar>

	<ion-content class="padding">
		<h3 class="title">{{productDetails.product_name}}</h3>

		<div ng-repeat="image in productDetails.images" ng-if="masterCtrl.isDefault(image.default_img)" class='default_img thumbnail center-block' style='height: 180px !important; background-image: url({{image.img_full}});'></div>
		<ion-gallery ion-gallery-items="images"></ion-gallery>

		<div class="item-detail-wrapper">
			<span class="item-detail"><strong>Brand:</strong> {{productDetails.brand.brand_name}}</span>
			<span class="item-detail"><strong>Sold by:</strong> {{productDetails.company_name}}</span>
			<span class="item-detail description">{{productDetails.product_desc}}</span>
			
			<ion-list ng-if="productDetails.type.properties.length" class="product-properties-list">
                
	            <!-- item-remove-animate  -->
	            <ion-item  class="item-detail" ng-repeat="property in productDetails.type.properties">
	                <span class="item-detail title">{{property.type}}</span>
	                <span class="item-detail description" ng-bind-html="property.value | unsafe"></span>
	            </ion-item>

	        </ion-list>
		</div>
	
	</ion-content>

</ion-modal-view>