
<ion-view view-title="Products" ng-init="getProductsListing()">

    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-ios-search" ng-click="toggleSearch()"></button>
    </ion-nav-buttons>

        
    <ion-content class="has-header">
        
        <div class="bar bar-header item-input-inset list-search" ng-show="search.show">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search"
                    placeholder="Search"
                    ng-model="search.string"
                    ng-focus="search.focused = true"
                    ng-blur="search.focused = false"
                    ng-change="scrollTop()">
            </label>
            <button ng-show="search.string.length" class="button icon ion-ios-close-empty button-clear" ng-click="clearSearch()"> </button>
        </div>

        <!-- <ion-refresher on-refresh="getListing(true)"></ion-refresher>

        <div ng-if="viewLoading" class="viewLoading padding">
            <ion-spinner icon="spiral"></ion-spinner><br />
            <span>Students Loading...</span>
        </div> -->
        <ion-list ng-if="productsList.length" class="products-listing">
                
            <!-- item-remove-animate  -->
            
            <ion-item class="listing-item col-xxs-12 col-xs-6 col-sm-3 col-md-12" ng-repeat="product in productsList | filter: search.string" ng-click="openProductDetails(product.sys_index)">
                
                <!-- <img ng-repeat="image in product.images" ng-if="isDefault(image.default_img)" class="listing-img thumbnail col-xs-3 col-md-1" src="{{image.img_thumbnail}}" /> -->
                <div ng-repeat="image in product.images" ng-if="isDefault(image.default_img)" class="listing-img thumbnail col-xs-3 col-md-3" style="background: url({{image.img_thumbnail}}) no-repeat; background-size:cover;background-position: 50% 50%;" ></div>
                <div ng-if="!product.images.length" class="no-image thumbnail col-xs-3 col-md-1" ><i class="icon ion-image"></i></div>

                <div class="col-xs-9 text-container">
                    <span class="listing-name">{{product.product_name}}</span>
                    <span class="listing-detail">{{product.product_desc | limitTo: 95}}{{product.product_desc.length > 95 ? '...' : ''}}</span>
                </div>

            </ion-item>

        </ion-list>

        <div ng-if="!productsList.length" class="center-block">
            No results found 
        </div>
        <!-- <div ng-if="!viewLoading">

            <ion-list ng-if="studentsList.length" class="student-listing">  

                <ion-item class = "item-avatar student-item" 
                    ng-repeat = "student in studentsList | filter: search.string | orderBy:'name' " 
                    auto-list-divider = "{{student.name}}"
                    ui-sref="app.tabs.students.details({studentId:student.$id})"
                >
                    <img src="img/default-avatar.png">
                    <h2>{{student.name}}</h2>
                    <p>{{student.mobile}}</p>
                </ion-item>

            </ion-list>

            <div class="card" ng-if="!studentsList.length">
                <div class="item item-text-wrap">
                    No Students Yet. Please Create some.
                </div>
            </div>

        </div> -->
        
        

    </ion-content>
</ion-view>
