
<ion-view view-title="Companies">

    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-ios-search" ng-click=""></button>
    </ion-nav-buttons>

        
    <ion-content class="has-header student-listing-content">
        
        <!-- <div class="bar bar-header item-input-inset list-search" ng-show="search.show">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search"
                    placeholder="Search"
                    ng-model="search.string"
                    ng-focus="search.focused = true"
                    ng-blur="search.focused = false"
                    ng-change="scrollTop()">
            </label>
            <button ng-show="search.string.length" class="button icon ion-ios-close-empty button-clear" ng-click="clearSearch()"> </button>
        </div>

        <ion-refresher on-refresh="getListing(true)"></ion-refresher>

        <div ng-if="viewLoading" class="viewLoading padding">
            <ion-spinner icon="spiral"></ion-spinner><br />
            <span>Students Loading...</span>
        </div> -->

        <ion-list ng-if="companiesList.length" class="categories-listing">
                
            <!-- item-remove-animate  -->
            <ion-item  class="company-item" ng-repeat="company in companiesList | filter: search.string" ui-sref="app.tabs.products.list({filter:'companies', filterId: company.sys_index})">
                <p>{{company.company_name}}</p>
            </ion-item>

        </ion-list>
        <!-- <div ng-if="!viewLoading">

            <ion-list ng-if="studentsList.length" class="student-listing">  

                <ion-item class = "item-avatar student-item" 
                    ng-repeat = "student in studentsList | filter: search.string | orderBy:'name' " 
                    auto-list-divider = "{{student.name}}"
                    ui-sref="app.tabs.students.details({studentId:student.$id})"
                >
                    <img src="img/default-avatar.png">
                    <h2>{{student.name}}</h2>
                    <p>{{student.mobile}}</p>
                </ion-item>

            </ion-list>

            <div class="card" ng-if="!studentsList.length">
                <div class="item item-text-wrap">
                    No Students Yet. Please Create some.
                </div>
            </div>

        </div> -->
        
        

    </ion-content>
</ion-view>
