@font-face {
  font-family: 'Dinnext';
  src: url('fonts/dinnext/DINNextLTPro-Regular.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Dinnext';
  src: url('fonts/dinnext/DINNextLTPro-Light.otf') format('opentype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  font-weight: 300;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px;
    line-height: 1.42857143;
    color: #666;
}
/* ionic.css overwrites
---------------------------------------------------- */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    color: #666;
}

/* CSS needed for animation
---------------------------------------------------- */

.fadeIn {

    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    -o-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

/* Animation Times - Time for image to fade in
---------------------------------------------------- */
.fadeIn-one-third {
    -webkit-animation-duration:0.3s;
    -moz-animation-duration:0.3s;
    -o-animation-duration:0.3s;
    animation-duration:0.3s;
}

.fadeIn-half {
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    -o-animation-duration:0.5s;
    animation-duration:0.5s;
}

.fadeIn-1s {
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -o-animation-duration:1s;
    animation-duration:1s;
}

/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
.fadeIn-Delay-one-third {
    -webkit-animation-delay:0.3s;
    -moz-animation-delay:0.3s;
    -o-animation-delay:0.3s;
    animation-delay:0.3s;
}

.fadeIn-Delay-half {
    -webkit-animation-delay:0.5s;
    -moz-animation-delay:0.5s;
    -o-animation-delay:0.5s;
    animation-delay:0.5s;
}

.fadeIn-Delay-1s {
    -webkit-animation-delay:1s;
    -moz-animation-delay:1s;
    -o-animation-delay:1s;
    animation-delay:1s;
}


/* END Animations CSS
---------------------------------------------------- */


.icon.ion-chevron-right::before{
	font-size: 11px;
}

.listing-item{
    white-space: normal;
    color: #646464;
}

.listing-item .listing-name{
	display: block;
	font-weight: 700;
	text-transform: uppercase;
}

.listing-item .listing-detail{
	display: block;
	margin-bottom: 10px;
}

.listing-img {
    width: 70px;
    height: 70px;
    display: inline-block;
}

.listing-item .no-image {
    display: block;
    text-align: center;
    background-color: #F5F5F5;
    color: #BEBEBE;
    margin-bottom: 20px;
    font-size: 20px;
    padding-top: 22px;
}

.bar-rad{
    background-color: black;
}

.bar-rad .button{background-color:transparent;}

.bar-rad .ion{
    color:white;    
    font-size: 18px;
    margin-top: 8px;
}

.product_default_img {
    height: 180px !important;
    display: block;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
    width: 70%;
    margin: 5px auto 10px;
    float: none;
}

.item-detail-wrapper{
    
}

.item-detail-wrapper .item-detail{
    display: block;
}

.item-detail-wrapper .item-detail .title{
    font-weight: bold;
}
